.featuredInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(228, 224, 224);
    
}
.featuredItem{
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--backCard-color);
}
.featuredItem:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}
.featuredTitle{
    font-size:20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    margin-left: 5px;
    color: lightgreen;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
    font-weight: bold;
}