.user{
    flex: 4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userAddBtn{
    width: 80px;
    font-weight: 600;
    background-color: orange;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--back-color);
    font-size: 16px;
}
.userContainer{
    display: flex;
    margin-top: 20px;
}
.userSow{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--backCard-color);
}
.userUpdate{
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--backCard-color);
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: silver;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: var(--text-light);
}
.userShowIcon{
    font-size: 16px !important;
    margin-right: 12px;
    color: orange;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
    color: silver;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem > label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: silver;
}

.userUpdateInput{
    border: none;
    width: 250px;
    outline: none;
    background: transparent;
    border-bottom: 1px solid gray;
    color: var(--text-color);
    height: 30px;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
    position: relative;
    
}
.userUpdateIcon{
    cursor: pointer;
    color: orange !important;
}

.UploadImg{
    display: none;
    position: absolute;
    background-color: orange;
    color: var(--back-color);
    padding: 4px;
    border-radius: 4px;
    top: 5px;
}
.userUpdateUpload:hover  .UploadImg {
    cursor: pointer;
    display: block;  
}
.userUpdateButton{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: orange;
    color: var(--back-color);
    border: none;
}