.sidebar{
    flex: 1; 
    height: calc(100vh - 50px);
    -webkit-box-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
    box-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
    background-color: rgba(43, 42, 42, 0.459);
    position: sticky;
    top: 50px;
    border-radius: 10px;
    
}
.sidebarWrapper{
    padding: 20px;
    color: rgb(228, 224, 224);
}
.sidebarMenu{
    margin-bottom: 10px;   
}
.sidebarTitle{
    font-size: 16px;
    color: orange;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active , .sidebarListItem:hover{
    background-color: rgb(189, 189, 194);
    color: rgb(44, 43, 43);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
    
}