.widgetSm{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--backCard-color);
    color: var(--text-color);
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetSmList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUsername{
    font-weight: 600;
}
.widgetSmUserTitle{
    font-weight: 300;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: var(--text-color);
    color: var(--back-color);
    font-weight: 600;
}
.widgetSmIcon{
    font-size: 16px !important;
    margin-right: 5px;
}