:root{
   --webkit-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
    --box-shadow: -2px 2px 15px -10px rgba(0, 0, 0, 2);
   --backCard-color:  rgba(49, 48, 48, 0.459);
   --text-color:rgb(228, 224, 224);
   --back-color:rgb(36, 35, 35);
   --text-light:rgb(161, 155, 155);
}

body{
     background-color: var(--back-color);
    color: var(--text-color);
}
.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}